SolitairePrime/a.out
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/.vs
/SolitairePrime/Debug
/SolitairePrime/.vs
SolitairePrime/SolitairePrime.sln
*.vcxproj
SolitairePrime/SolitairePrime.vcxproj.filters
SolitairePrime/SolitairePrime.vcxproj.user
MyDate/.vs/
MyDate/MyDate/Debug/
MyDate/MyDate.sln
*.user
*.filters
MyDate/Debug/
*.out
*/Debug