SolitairePrime/a.out
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/.vs/*
*/Debug/*
/SolitairePrime/Debug
/SolitairePrime/.vs
SolitairePrime/SolitairePrime.sln
*.vcxproj
SolitairePrime/SolitairePrime.vcxproj.filters
SolitairePrime/SolitairePrime.vcxproj.user
MyDate/.vs/
MyDate/MyDate/Debug/
MyDate/MyDate.sln
*.user
*.filters
MyDate/Debug/
*.out
StudentList/StudentList/Debug/StudentList.obj
StudentList/StudentList/Debug/StudentList.log
.vs/tasks.vs.json
.vs/CECS282/v15/ipch/AutoPCH/74155856fd425a07/CARD.ipch
.vs/CECS282/v15/ipch/AutoPCH/6ce872a64a680d7a/MYDATE.ipch
.vs/CECS282/v15/Browse.VC.db
.vs/CECS282/v15/.suo
StudentList/StudentList/Debug/vc141.pdb
StudentList/StudentList/Debug/vc141.idb
StudentList/StudentList/Debug/myDate.obj
StudentList/StudentList/Debug/StudentList.tlog/link.write.1.tlog
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
StudentList/StudentList/Debug/StudentList.tlog/CL.write.1.tlog
StudentList/StudentList/Debug/StudentList.tlog/CL.read.1.tlog
StudentList/StudentList/Debug/StudentList.tlog/CL.command.1.tlog
.vs/slnx.sqlite
StudentList/StudentList/Debug/StudentList.tlog/link.read.1.tlog
StudentList/StudentList/Debug/StudentList.tlog/link.command.1.tlog
.vs/CECS282/v15/ipch/AutoPCH/57785dd0110be3db/TESTER.ipch
